body {
  font-family: 'Patrick Hand SC', cursive;
  text-align: center;
  background-color: rgb(244, 210, 216);
  font-size: 35px;
}

.logo {
  text-align: center;
  margin: 80px 0 200px 0;
}

.neg-margin {
  margin-top: -80px;
}

.neg-margin-ml {
  margin-top: -100px;
}

.neg-margin-l {
  margin-top: -130px;
}

.neg-margin-xl {
  margin-top: -250px;
}

.neg-margin-m {
  margin-top: -50px;
}

.title {
  font-size: 55px;
  margin-bottom: 40px;
}

#first_block {
  vertical-align: middle;
}

.border-radius {
  border-radius: 3%;
}

.pointer:hover {
  cursor: pointer;
}

.message {
  font-size: 35px;
  text-align: center;
  margin: 0 200px 20px 200px;
}

.display_none {
  display: none;
}

#queena_pic {
  -webkit-transition: all 4.5s ease-in-out;
  -moz-transition: all 4.5s ease-in-out;
  -o-transition: all 4.5s ease-in-out;
  transition: all 4.5s ease-in-out;
}

.btn-outline-secondary{
  margin-top: 30px;
  font-size: 35px;
}

#audio_player {
  width: 600px;
}

.btn {
  font-size: 40px;
  margin-bottom: 70px;
}

button {
  font-family: 'VT323', monospace;
}
