body {
  font-family: 'Patrick Hand SC', cursive;
  text-align: center;
  background-color: rgb(244, 210, 216);
}

.logo {
  text-align: center;
  margin: 40px 0 20px 0;
}

.title {
  font-size: 18px;
  margin-bottom: 20px;
}

.message {
  font-size: 13px;
  text-align: center;
  margin: 0 400px 20px 400px;
}

.display_none {
  display: none;
}

#first_block {

}

#second_block {

}

#third_block {

}

#fourth_block {

}


button {
  font-family: 'VT323', monospace;
}

canvas {
  display: block;
}
